<div id="footer">
  <div class="container">
    <p class="pull-left">&copy; <a href="http://gastonsanchez.com" target="_blank">Gaston Sanchez</a> &middot;
      <a href="#">Terms</a>
    </p>
    <div style="margin-left: 45%; bottom: 10px;">
      <div class="social-icons">
        <a href="https://github.com/gastonstat" alt="f200" class="genericon genericon-github hidden-xs"></a>
      </div>
      <div class="social-icons">
        <a href="http://www.linkedin.com/in/sanchezgaston"
           alt="f207" class="genericon genericon-linkedin hidden-xs"></a>
      </div>
    </div>
  </div>
</div>


