{% extends "layout/base.html" %}

{% block content %}
    <div class="container">

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <h1 class="text-justify text-muted">About</h1>
            <p class="lead">
            Every morning tens of millions of women and men apply from 12 to 20 personal care products 
            to themselves, according to the <em>Cosmetic, Toiletry and Fragrance Association</em>. 
            Most of us assume that somebody has been watching to ensure that potential toxins in those  
            ingredients are kept away from intimate contact with the body's largest organ, the skin.
            </p>            
 
            <p class="lead">
            Back in 1938, when the mandate of the Food and Drug Administration (FDA) was expanded by  
            Congress to give it authority over drugs and food additives, industry lobbying succeeded in  
            blocking the agency from requiring testing of cosmetics. <b>This hasn't changed for the past 76 years</b>.
            </p>            
 
            <p class="lead">
            Toxic substances are synthetic chemicals and metals that can harm your health. 
            The potential for exposure to toxic substances is present in nearly every aspect of everyday life 
            and these exposures can affect all aspects of reproductive health. 
            </p>
 
            <p class="lead">
            As we learn more about the nature of these exposures and their harmful effects on human health, 
            there is a growing demand for simple and accessible information on how to protect against exposure.            
            </p>
          </div>
        </div>
      </div>
              <img src="/static/avg_score_barchart.png" class="img-responsive"/> <br/>
              <img src="/static/num_ings_score.png" class="img-responsive"/>
    </div>

{% endblock %}

