{% extends "layout/base.html" %}

{% block content %}
  <div id="wrap">
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <img src="https://avatars3.githubusercontent.com/u/929485?s=460"
                 class="img-responsive" height="300px" width="300px"/>
          </div>
          <div class="col-md-5">
            <h1 class="text-justify text-muted">GET IN TOUCH</h1>
            <p class="lead">I'm a statistical programmer and analytics engineer.</p>
            <p class="lead">Occasionally I blog at <a href="http://gastonsanchez.com/blog">Data Analysis Visually EnfoRced</a>.</p>
            <p class="lead">
              Read 
              <a href="http://gastonsanchez.com/about">more</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block footer %}
  {% include "include/footer.html" %}
{% endblock %}
