{% extends "layout/base.html" %}

{% block content %}

<style type="text/css">

.bar text.value {
  fill: #777;
}

.axis {
  shape-rendering: crispEdges;
}

.axis text {
  font: 12px sans-serif;
  color: #343434;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}

.y.axis path {
  stroke: black;
}
</style>


<script src="http://d3js.org/d3.v3.min.js"></script>


<div class="container">
  <div class="row">
    <div class="col-md-12" style="height:100%">
	  <h2><span style="color:#5bc0de">Products ranked by health score</span></h2>
	</div>

		<div class="row-fluid">
		  <div class="span6" id="area1"></div>
		</div>		
		
	<script type="text/javascript">

		var m = [30, 100, 20, 30],
			w = 1000 - m[1] - m[3],
			h = 930 - m[0] - m[2];

		var format = d3.format(",.0f");

		var x = d3.scale.linear().range([0, w]),
			y = d3.scale.ordinal().rangeRoundBands([0, h], .1);

		var xAxis = d3.svg.axis().scale(x).orient("top").tickSize(-h),
		/*	yAxis = d3.svg.axis().scale(y).orient("left").tickSize(0), */
			bottomAxis = d3.svg.axis().scale(x).orient("bottom").tickSize(h);

	// add the graph canvas to the body of the webpage within bootstrap
//		var svg = d3.select("body").append("svg")
		var svg = d3.select("#area1").append("svg")
			.attr("width", w + m[1] + m[3])
			.attr("height", h + m[0] + m[2])
		  .append("g")
			.attr("transform", "translate(" + m[3] + "," + m[0] + ")");

		d3.csv("/static/category_score.csv", function(data) {

		  // Parse numbers, and sort by value.
		  data.forEach(function(d) { d.score = +d.score; });
		  data.sort(function(a, b) { return b.score - a.score; });

		  // Set the scale domain.
		  x.domain([0, d3.max(data, function(d) { return d.score; })]);
		  y.domain(data.map(function(d) { return d.name; }));

		  var bar = svg.selectAll("g.bar")
			  .data(data)
			.enter().append("g")
			  .attr("class", "bar")
			  .attr("transform", function(d) { return "translate(0," + y(d.name) + ")"; });

		  bar.append("rect")
			  .attr("width", function(d) { return 0*d.score; })
		  .style("fill", function(d) { return d.color; } )
			  .transition().delay(function(d, i) { return i * 40; }).duration(400)
			  .attr("height", y.rangeBand())
			  .attr("width", function(d) { return x(d.score); })
			  ;

		  bar.append("text")
			  .attr("class", "value")
			  .attr("x", 0)
			  .transition().delay(function(d, i) { return i * 40; }).duration(400)
			  .attr("x", function(d) { return x(d.score); })
			  .attr("y", y.rangeBand() / 2)
			  .attr("dx", +3)
			  .attr("dy", ".30em")
			  .attr("text-anchor", "begin")
			  .text(function(d) { return d.name; });

		  svg.append("g")
			  .attr("class", "x axis")
			  .style("fill", "#888")
			  .call(xAxis);

		  svg.append("g")
			  .attr("class", "x axis")
			  .style("fill", "#888")
			  .call(bottomAxis);


		  /* svg.append("g")
			  .attr("class", "y axis")
			  .call(yAxis);  */
		});


	</script>

  </div>
</div> <!-- container -->

{% endblock %}
