{% extends "layout/base.html" %}

{% block content %}

<!--
<script type="text/javascript">
    window.onload = init;
    
    function init() {
        var seleccion = document.getElementById("category");
        seleccion.onchange = handle_category;
    }

    function handle_category(e) {
        var category = document.getElementById("category");
        var categ = category.value;
        if (categ == 'baby-wipes') {
            // alert("Wipes!");
            // obj = select("#blah")
            // obj.text = 
            document.write('<div>Contains triclosan</div>')
        } else {
            // alert("OK");
            document.write('<div>Contains fragrance</div>')
        }
    }
</script>
-->



<div class="row" style="margin-top: 55px; height:100%">
<div class="col-md-3" style="height:100%">

<div align="center">

<!-- Like field -->
<div class="panel panel-primary panel-success"  style="height: 70%">
    <div class="panel-heading">
        <!-- <h2 class="panel-title">Care Scoring</h2> -->
        <h2>Care Scoring</h2>
    </div>
    <div class="panel-body">
    
    	<!-- HTML Form -->
        <form action="" method="POST" name="score">
        	
            <p>
        		Type of Product:<br>
        		<select name="category" placeholder="Select category ...">
        			<option value='baby-lotion'>baby-lotion</option>
        			<option value='baby-wipes'>baby-wipes</option>
        			<option value='baby-sunscreen'>baby-sunscreen</option>
        		</select>
        		<p id="blah"></p>
    		</p>
    		
            
        	<p>Number of ingredients:</p>
        	<input class="integer" placeholder="Enter number" />
    		
    		<p>Other Stuff</p>
    		<label><input type="checkbox" name="has_triclosan" value="false" />Triclosan</label><br/>
    		<label><input type="checkbox" name="has_fragrance" value="false" />Fragrance</label>
    		
    		<!-- submit button -->
    		<!-- <p><input type="submit" value="Get Score"></p> -->
    		<p><button type="submit" class="btn btn-inverse" value="Get Score">Get Score</button></p>
		</form>

        <script type="text/javascript">
        $('.integer').keyup(function () {
    		if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
       			this.value = this.value.replace(/[^0-9\.]/g, '');
    		}
		});
		</script>
		
		<p>{{error_text}}</p>
		
		<div class="panel-body" style="height:inherit; overflow:auto;">          
            {% if score %}
			<h3>Score: {{score}}</h3>
			<p>(scale: 0 - 10)</p>
			{% endif %}
        </div>
		
	</div>
</div>

</div>

{% endblock %}
