{% extends "layout/base.html" %}

{% block content %}

<!--
<script type="text/javascript">
    window.onload = init;
    
    function init() {
        var seleccion = document.getElementById("category");
        seleccion.onchange = handle_category;
    }

    function handle_category(e) {
        var category = document.getElementById("category");
        var categ = category.value;
        if (categ == 'baby-wipes') {
            // alert("Wipes!");
            // obj = select("#blah")
            // obj.text = 
            document.write('<div>Contains triclosan</div>')
        } else {
            // alert("OK");
            document.write('<div>Contains fragrance</div>')
        }
    }
</script>
-->


<!--
<script>
$(document.body).on('change', 'select', function() {
	//$("#blah").text('HOLA');
	alert("selected");
});
</script>
-->

<script>
function change_categ() {
	var categ = document.getElementById("category");
	var elem = document.createElement('div');
	var algo = document.createTextNode('Algo');
	elem.appendChild(algo);
	categ.appendChild(elem);
}
</script>


<div class="row" style="margin-top: 55px; height:100%">
<div class="col-md-3" style="height:100%">

<div align="center">

<!-- Like field -->
<div class="panel panel-primary panel-success"  style="height: 70%">
    <div class="panel-heading">
        <!-- <h2 class="panel-title">Product Scorer</h2> -->
        <h2>Product Scorer</h2>
    </div>
    <div class="panel-body">
    
    	<!-- HTML Form -->
        <form action="/score" method="POST" id="score_form" name="score_form">
        	{{form.hidden_tag()}}
        	
        	<!-- text area -->
            <p>
        		Type of Product:<br>
        		{{ form.category(placeholder="Select one:", id="category", onchange="change_categ()") }}</br>
        		<p id="blah"></p>
        		<!--
        		{% if form.category.data == 'baby-lotion' %}
        		<div id="blah"></div>
        		<p>{{form.has_triclosan}} Contains Triclosan?</p>
        		{% endif %}
        		-->
        		<!-- {{form.category(size=3)}}<br>  -->
    		</p>
    		
            <p>
        		Number of ingredients:<br>
        		{{ form.number_ingredients(size=5) }}</br>
    		</p>
    		
    		<!-- <p>{{form.has_triclosan}} Contains Triclosan?</p> -->
    		<p>{{form.has_fragrance}} Contains Fragrance?</p>
    		
    		<!-- submit button -->
    		<!-- <p><input type="submit" value="Get Score"></p> -->
    		<p><button type="submit" class="btn btn-inverse" value="Get Score">Get Score</button></p>
		</form>
		
		<p>{{error_text}}</p>
		
		<div class="panel-body" style="height:inherit; overflow:auto;">          
            {% if score %}
			<h3>Score: {{score}}</h3>
			<p>(scale: 0 - 10)</p>
			{% endif %}
        </div>
		
	</div>
</div>

</div>

{% endblock %}
