{% extends "layout/base.html" %}

  {% block content %}
    
    <!-- <div id="wrap"> -->
    <div class="container">
       <!-- <div class="starter-template"> 	-->
       
        <div class="jumbotron">
			<h2 class="index">Scoring Personal Care Products</h2>
			<p class="lead">
			  <span style="color:#ccc">On your skin, into your body
			  <!-- Make better decisions </span>
			  about using personal care products. -->
			</p>
			<a class="btn btn-warning btn-lg" role="button" href="/score">
				Go!
			</a>
        </div>
    </div>   
    <div class="container">
		<img class="centered" src="http://www.laboratoryequipment.com/sites/laboratoryequipment.com/files/shutterstock_122581144.jpg" height="450px"/>
		<br/>
		<p class="centered-text">
				<small><span style="color:#999">by</small> <a href="http://gastonsanchez.com" target="_blank">Gaston Sanchez</a>
        </p>
            		
       <!-- </div> --> 
    <!-- </div> -->
   </div>   
  {% endblock %}
  
