{% extends "layout/base.html" %}

  {% block content %}
    
    <!-- <div id="wrap"> -->
    <div class="container">
       <!-- <div class="starter-template"> 	-->
       
        <div class="jumbotron">
			<h1>Scoring Personal Care Products</h1>
			<p class="lead">
			  Make better decisions 
			  about using personal care products.
			</p>
			<a class="btn btn-warning btn-lg" role="button" href="/score">
				Go!
			</a>
        </div>
       
        <div class="container marketing">
          <div class="row">            
            <div class="col-lg-2"></div>

            <div class="col-lg-8">
				<div class="media">
				<img class="media-object" src="http://www.laboratoryequipment.com/sites/laboratoryequipment.com/files/shutterstock_122581144.jpg" width="700px"/>
				</div>
			</div>
		  </div>
		</div>

            		
       <!-- </div> --> 
    <!-- </div> -->
   </div>   
  {% endblock %}
  
