{% extends "layout/base.html" %}

{% block content %}
    <div class="container">

  	<div class="row">  
   		<!-- <div class="col-md-11" style="height:100%"> -->
   		<div class="col-md-12" style="height:100%">
			<!-- <div class="page-header"> -->
			<div class="well mywell-sm">
				<h2><span style="color:#5bc0de">Overall Insights</span></h2>
			</div>
		</div>
    </div>  <!-- 1st row -->

	  <img src="/static/avg_score_barchart.png" class="img-responsive"/> <br/>
	  <img src="/static/num_ings_score.png" class="img-responsive"/>

</div>

{% endblock %}

