{% extends "layout/base.html" %}

{% block content %}

<style type="text/css">
body {
  font: 16px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.axis text {
  font: 12px sans-serif;
  color: #343434;
}

.dot {
    opacity: .7;
  /* stroke: #000; */
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

text {
  font: 16px sans-serif;
}
</style>


<script src="http://d3js.org/d3.v3.min.js"></script>


<div class="container">
	<div class="row">
		<div class="col-md-12" style="height:100%">
		  <h2><span style="color:#5bc0de">The more products, the lower the score</span></h2>
		</div>	
	
		<div class="row-fluid">
		  <div class="span6" id="area1"></div>
		</div>		
		
	<script type="text/javascript">
    
	var margin = {top: 20, right: 20, bottom: 50, left: 80},
		width = 960 - margin.left - margin.right,
		height = 600 - margin.top - margin.bottom;

	/* 
	 * value accessor - returns the value to encode for a given data object.
	 * scale - maps value to a visual display encoding, such as a pixel position.
	 * map function - maps from data value to display value
	 * axis - sets up axis
	 */ 

	// setup x 
	var xValue = function(d) { return d.ingredients;}; // data -> value
	var	xScale = d3.scale.linear()
					.domain([4, 30])
					.range([0, width]); // value -> display
	var	xMap = function(d) { return xScale(xValue(d));}; // data -> display
	var	xAxis = d3.svg.axis().scale(xScale).orient("bottom");

	// setup y
	var yValue = function(d) { return d.score;}; // data -> value
	var	yScale = d3.scale.linear()
					.domain([0, 10])
					.range([height, 0]); // value -> display
	var	yMap = function(d) { return yScale(yValue(d));}; // data -> display
	var	yAxis = d3.svg.axis().scale(yScale).orient("left");

	// setup fill color
	var cValue = function(d) { return d.color;},
		color = d3.scale.category10();

	// add the graph canvas to the body of the webpage within bootstrap
//	var svg = d3.select("body").append("svg")
	var svg = d3.select("#area1").append("svg")
		.attr("width", width + margin.left + margin.right)
		.attr("height", height + margin.top + margin.bottom)
	  .append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	// add the tooltip area to the webpage
	var tooltip = d3.select("body").append("div")
		.attr("class", "tooltip")
		.style("opacity", 0);

	// load data
	d3.csv("/static/category_ings_score.csv", function(error, data) {

	  // change string (from CSV) into number format
	  data.forEach(function(d) {
		d.ingredients = +d.ingredients;
		d.score = +d.score;
	//    console.log(d);
	  });

	  // don't want dots overlapping axis, so add in buffer to data domain
//	  xScale.domain([d3.min(data, xValue)-0.25, d3.max(data, xValue)+0.25]);  
//	  yScale.domain([d3.min(data, yValue)-0.25, d3.max(data, yValue)+0.25]);  

	  // x-axis
	  svg.append("g")
		  .attr("class", "x axis")
		  .attr("transform", "translate(0," + height + ")")
		  .call(xAxis)
		.append("text")
		  .attr("class", "label")
		  .attr("x", width)
		  .attr("y", 40)
		  .style("text-anchor", "end")
		  .text("Number of Ingredients");

	  // y-axis
	  svg.append("g")
		  .attr("class", "y axis")
		  .call(yAxis)
		.append("text")
		  .attr("class", "label")
		  .attr("transform", "rotate(-90)")
		  .attr("y", -40)
		  .attr("dy", ".71em")
		  .style("text-anchor", "end")
		  .text("Health Score");

	  // draw dots
	  svg.selectAll(".dot")
		  .data(data)
		.enter().append("circle")
		  .attr("class", "dot")
		  .attr("r", function(d) { return d.ingredients * 0.8 })
		  .attr("cx", xMap)
		  .attr("cy", yMap)
		  .style("fill", function(d) { return d.color ;}) 
		  .on("mouseover", function(d) {
			  tooltip.transition()
				   .duration(200)
				   .style("opacity", .9);
			  tooltip.html(d["name"] + "<br/> (" + xValue(d) 
				+ ", " + yValue(d) + ")")
				   .style("left", (d3.event.pageX + 5) + "px")
				   .style("top", (d3.event.pageY - 28) + "px");
		  })
		  .on("mouseout", function(d) {
			  tooltip.transition()
				   .duration(500)
				   .style("opacity", 0);
		  });

	  // add labels
	  svg.selectAll(".dotlabel")
	  	  .data(data)
	  	  .enter().append("text")
	     .attr("x", xMap)
	     .attr("y", yMap)
	     .attr("dy", ".3em")
	     .style("font-size", "12px")
	     .style("text-anchor", "start")
	     .style("fill", "#333") 
	     .style("opacity", "0.5")
	     .text( function(d) { return d.name ;} );
//	     .style("fill", "rgba(31, 119, 180, 0.5)")
		  

	});


	</script>

	</div>
</div> <!-- container -->

{% endblock %}
