{% extends "layout/base.html" %}

{% block content %}


<div class="container">

	<!-- 1st row -->
  	<div class="row">  
   		<!-- <div class="col-md-11" style="height:100%"> -->
   		<div class="col-md-12" style="height:100%">
   		<h2><span style="color:#5bc0de">Score my product</span></h2>
   		<br/>
			<!-- <div class="page-header"> 
			<div class="well mywell-sm">
				<h2><span style="color:#5bc0de">Score my product</span></h2>
			</div> -->
		</div>
    </div>  <!-- 1st row -->


	<!-- FORM -->
  	<div class="row"> <!-- 2nd row -->
		<form action="" method="POST" name="category_form">
			<!-- first column -->	
   			<div class="col-md-5" style="height:100%">
				{{form.hidden_tag()}}

				<div class="panel panel-default">
					<div class="panel-heading">          
						<h3 class="panel-title">Choose a category</h3>
					</div>
					<div class="panel-body">				
						{{ form.category(placeholder="Select one:", class="category", id="category") }}
						<button type="submit" class="btn btn-info btn-sm" name="continue" value="Fill Info">Continue</button>
					</div>
				</div>

				{% if ings %}
				<div class="panel panel-default"> 
					<div class="panel-heading">          
						<h3 class="panel-title">Number of ingredients</h3>
					</div>
					<div class="panel-body">				
						<p>
							<em><small>(Optional)</small></em>:
							{{ form.number_ingredients(size=5, autocomplete="off") }}</br>
						</p>
					</div>
				</div>

				<div class="panel panel-default">          
					<div class="panel-heading">          
						<h3 class="panel-title">Does it contain any of the ingredients below? &nbsp;&nbsp; {{form.has_toxics}}</h3>
					</div>
					<div class="panel-body">				
						<!-- <p>{{form.has_toxics}}</p> -->
						<ul class="list-group">
						{% for ing in ings %}
							<!-- <li class="list-group-item">{{ ing }}</li> -->
							<li class="list-group-item">{{ ing }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>

			</div> <!-- first column -->		


   			<div class="col-md-7" style="height:100%">
  			  
	   			<div class="panel panel-default"> 
					<div class="panel-heading">          
						<h3 class="panel-title">Score</h3>
					</div>
					<div class="panel-body">
					    <div class="col-md-4" style="height:100%">
							<button type="submit" class="btn btn-warning btn-lg" name="submit" value="Get Score">Get Score</button>
						<!-- </div> -->

						{% if score %}         
					<!--	<div class="col-md-5" style="height:100%">	-->
							<h1 class="score">{{score}}</h1>

							<div class="progress">
							  <div class="progress-bar progress-bar-danger" style="width: 25%">
								<span class="sr-only">20% Complete (danger)</span>0 - 2
							  </div>
							  <div class="progress-bar progress-bar-warning" style="width: 25%">
								<span class="sr-only">20% Complete (warning)</span>3 - 4
							  </div>
							  <div class="progress-bar progress-bar-neutral" style="width: 25%">
								<span class="sr-only">20% Complete (neutral)</span>5 - 6
							  </div>
							  <div class="progress-bar progress-bar-success" style="width: 25%">
								<span class="sr-only">20% Complete (success)</span>7 - 10
							  </div>
							</div>
						</div>
						{% endif %}

					</div>
				</div>

				{% if id_cat %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Recommendations for {{form.category.data}}</h3>
					</div>
					<div class="panel-body">
					<!--	<button type="submit" class="btn btn-info btn-md" name="submit" value="Show Recom">Show</button> -->
						{% if recom %}
						    <p>
							<ul class="list-group">
							{% for rec in recom.iteritems() %}
								<li class="list-group-item">{{ rec[0] }}
									<span class="badge">{{ rec[1] }}</span>
								</li>
							{% endfor %}
							</ul>
							</p>
						<p><a href="{{id_cat}}" target="_blank">Or check Good Guide</a></p>
						{% endif %}
				  </div>
				</div>				
				{% endif %}
			</div> <!-- second column -->
			{% endif %}	 <!-- end if ingredients -->		
		</form>


		{% if error_text %}
			<p>Select a category</p>
		{% endif %}
  				
    </div>  <!-- 2nd row -->

      
</div>  <!-- container -->

{% endblock %}
