{% extends "layout/base.html" %}

{% block content %}
    <div class="container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- <h1 class="text-justify text-muted">Slides</h1> -->
 <br/>
 <p>
 <iframe src="https://docs.google.com/presentation/d/1mOaJzFMIpE8Vztep9zJXYBPl9QJRGpRDgUNIFCZZKBo/embed?start=false&loop=false&delayms=3000" frameborder="0" width="828" height="650" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</p>

          </div>
        </div>
        
        <div class="row">
          <div class="col-md-2">
          	<a href="/graph">Graph</a>
          </div>
          <div class="col-md-2">
          	<a href="/barchart">Barchart</a>
          </div>
          <div class="col-md-2">
          	<a href="/barchart">Scatter</a>
          </div>
        </div>

      </div>
    </div>

{% endblock %}

